# Python Classes/Objects
Python is an object oriented programming language.

Almost everything in Python is an object, with its properties and methods.

A Class is like an object constructor, or a "blueprint" for creating objects.

# Create a Class
To create a class, use the keyword class:

In [2]:
class Myclass :
  x = 5

print(Myclass)

<class '__main__.Myclass'>

# Create Object
Now we can use the class named MyClass to create objects:


Create an object named p1, and print the value of x:

In [3]:
class Myclass:
  x = 7

p1 = (Myclass)
print(p1.x)

7

In [4]:
class student :
  s = 6

p2 = (student)
print(p2.s)

6

# The __init__() Function
The examples above are classes and objects in their simplest form, and are not really useful in real life applications.

To understand the meaning of classes we have to understand the built-in __init__() function.

All classes have a function called __init__(), which is always executed when the class is being initiated.

Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

In [6]:
# Create a class named Person, use the __init__() function to assign values for name and age:

class person :
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = person ("zulqrnain", 36)

print(p1.name)
print(p1.age)

zulqrnain
36

# Second Problem

In [7]:
class car:
  def __init__(self, brand, model, year):
    self.brand = brand
    self.model = model
    self.year = year

p2 = car("Toyota", "Corolla", 2020)
print(p2.brand)
print(p2.model)
print(p2.year)
# Note: The __init__() function is called automatically every time the class is being used to create a new object.

Toyota
Corolla
2020

# The __str__() Function
The __str__() function controls what should be returned when the class object is represented as a string.

If the __str__() function is not set, the string representation of the object is returned:

The string representation of an object WITHOUT the __str__() function:

In [9]:
class Animal:
  def __init__(self, name, species):
    self.name = name
    self.species = species

p1 = Animal("Lion", "Panthera leo")
print(p1)

<__main__.Animal object at 0x7f7b519321a0>

In [14]:
# Example

class Animal:
  def __init__(self, name, species):
    self.name = name
    self.species = species
  def __str__(self):
    return f"{self.name},({self.species})"

p1 = Animal("Lion", "Panthera leo")
print(p1)

Lion,(Panthera leo)

In [35]:
class student:
    def __init__(self, name, age, Rollno):
        self.name = name
        self.age = age
        self.Rollno = Rollno

    def __str__(self):
        return f"{self.name} {self.age} ({self.Rollno})"

p1 = student("Zulqrnain", 21, "A001")
print(p1)

Zulqrnain 21 (A001)

# Object Methods
Objects can also contain methods. Methods in objects are functions that belong to the object.

Let us create a method in the Person class:

In [38]:
# Insert a function that prints a greeting, and execute it on the p1 object:
class person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def person(self):
    print("Hello my name is " + self.name)

p1 = person("Zulqrnain", 21)
p1.person()

Hello my name is Zulqrnain

In [41]:
class student :
  def __init__(self, fname, lname, age):
    self.fname = fname
    self.lname = lname
    self.age = age

  def student(self):
    print("Hello my name is " + self.fname+ " " + self.lname+ " " + "and I am " + str(self.age))

p2 = student("Chuhadry", "Zulqrnain", 21)
p2.student()

# Note: The self parameter is a reference to the current instance of the class, and is used to access variables that belong to the class.

Hello my name is Chuhadry Zulqrnain and I am 21

# The self Parameter
The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class:

In [43]:
# Use the words mysillyobject and abc instead of self:
class person :
  def __init__(object, fname, lname):
    object.fname = fname
    object.lname = lname

  def person(unobject):
    print("Hello, my name is " + unobject.fname + " " + unobject.lname)

p1 = person("Chuhadriy", "Zulqrnain")
p1.person()

Hello, my name is Chuhadriy Zulqrnain

In [47]:
from re import L
class student :
  def __init__(object, fname, lname, age):
    object.fname = fname
    object.lname = lname
    object.age = age

  def student(unobject):
    print("Hello, my name is " + unobject.fname + " " + unobject.lname + " and I am " + str(unobject.age) + " yeras old")

p2 = student("Chuhadriy", "Zulqrnain", 21)
p2.student()

Hello, my name is Chuhadriy Zulqrnain and I am 21 yeras old

# Modify Object Properties
You can modify properties on objects like this:

In [48]:
class student :
  def __init__(object, fname, lname, age):
    object.fname = fname
    object.lname = lname
    object.age = age

  def student(unobject):
    print("Hello, my name is " + unobject.fname + " " + unobject.lname + " and I am " + str(unobject.age) + " yeras old")

p2 = student("Chuhadriy", "Zulqrnain", 21)

# Modify age
p2.age = 22
print(p2.age)

22

In [53]:
class teacher:
  def __init__(self, fname, lname, subject):
    self.fname = fname
    self.lname = lname
    self.subject = subject

  def teacher(unobject):
    print("Hello, my name is " + unobject.fname + " " + unobject.lname + " and I teach " + unobject.subject)

p1 = teacher("John", "Doe", "Math")
# p1.teacher()
# Modify subject
p1.subject = "Science"
print(p1.subject)

Science

# Delete Objects
You can delete objects by using the del keyword:

In [54]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)

del p1

print(p1)

NameError: ignored

In [55]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self):
        print("Hello, my name is " + self.name)

p1 = Person("John", 36)

# No need to delete p1

print(p1)

<__main__.Person object at 0x7f7b51961300>

# The pass Statement
class definitions cannot be empty, but if you for some reason have a class definition with no content, put in the pass statement to avoid getting an error.

In [56]:
class Person:
  pass

# having an empty class definition like this, would raise an error without the pass statement