### ***Python If else statement***

***if selse statement is used in python for decision making***

Python Conditions and If statements
Python supports the usual logical conditions from mathematics:

***Equals: a == b***
***Not Equals: a != b***
***Less than: a < b***
***Less than or equal to: a <= b***
***Greater than: a > b***
***Greater than or equal to: a >= b***
These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

In [3]:
# a == b
print (12 == 12) #condaction is true
print(3 == 6) #condaction is false

True
False

In [7]:
# Not equal
print(30 != 20)
print(10 != 5)
print(2 != 1)
print(13 != 1)

True
True
True
True

In [9]:
# Less than
print(4 < 9)
print(9 < 4)

True
False

In [11]:
# Less than or equal to
print(12 <= 5)
print(5 <= 12)

False
True

In [13]:
# Greater than
print(12 > 10)
print(10 > 20)

True
False

In [15]:
# Greater than or equal to
print(12 >= 30)
print(13 >= 10)

False
True

### ***Syntax***

In [ ]:
# if test expression:

  # statement(s)

## let's see

In [24]:
# n = 60
# if n > 50 :
#   print("pass")

# n = 45
# if n > 50 :
#   print("pass")

n = int(input("Enter the marks"))
if n > 80 :
  print("pass")
  print("congrats.....") #student pass and than conduction is true

if n < 80 :
  print("Fail...")

Enter the marks70
Fail...

In [25]:
a = int(input("Enter the marks"))

if a > 0 :
  print("Number is +tive")

if a < 0 :
  print("Number is -tive")

if a == 0 :
  print("Number is equal")

Enter the marks10
Number is +tive

In [26]:
a = int(input("Enter the marks"))

if a > 0 :
  print("Number is +tive")

if a < 0 :
  print("Number is -tive")

if a == 0 :
  print("Number is equal")

Enter the marks-50
Number is -tive

In [28]:
a = int(input("Enter the marks"))

if a > 0 :
  print("Number is +tive")

if a < 0 :
  print("Number is -tive")

if a == 0 :
  print("Number is equal 0")

Enter the marks0
Number is equal 0

## 2 second program chak highest value

In [30]:
n1 = int(input("Enter the number"))
n2 = int(input("Enter the number"))
n3 = int(input("Enter the number"))
n4 = int(input("Enter the number"))

max = n1
if n2 > max :
  max = n2

if n3 > max :
  max = n3

if n4 > max :
  max = n4

print(max)

Enter the number20
Enter the number30
Enter the number13
Enter the number40
40