## List of append

In [5]:
lst = ['one', 'two', 'three', 'foure']

lst.append('five') # append will add the item at the end
lst.append('six')

print(lst)

['one', 'two', 'three', 'foure', 'five', 'six']

### List insert(x, y)

In [8]:
lst= ['one', 'two', 'five', 'six']

lst.insert(3, 'three') #lst.insert(3, 'three') # insert will add the item at the specified index
lst.insert(5, 'two')

print(lst)

['one', 'two', 'five', 'three', 'six', 'two']

### Remove Function

In [9]:
lst = ['one', 'two', 'three', 'five', 'six', 'two']

lst.remove('two') # remove will remove the first occurrence of the specified item

print(lst)

['one', 'three', 'five', 'six', 'two']

### List append & Extend

In [11]:
lst = ['one', 'three', 'five', 'six', 'two']

lst2 =[1, 2, 3, 4, 5]

lst.append(lst2) # append will add the elements of lst2 to the end of lst

print(lst)

['one', 'three', 'five', 'six', 'two', [1, 2, 3, 4, 5]]

In [12]:
lst = ['one', 'three', 'five', 'six', 'two']

lst2 =[1, 2, 3, 4, 5]

lst.extend(lst2) # extend will add the elements of lst2 to the end of lst

print(lst)

['one', 'three', 'five', 'six', 'two', 1, 2, 3, 4, 5]

### Delete Function

In [15]:
lst = ['one', 'three', 'five', 'six', 'two']

del lst [3]
print(lst)

# or we can use pop mothed

a = lst.pop(3)
print(a)

print(lst)

['one', 'three', 'five', 'two']
two
['one', 'three', 'five']

### List related keyword in python

In [16]:
# keyword 'in' is used to test if an item is in a list

lst= ['one', 'three', 'five', 'six', 'two']

if 'five' in lst :
  print('Artificial Intelligence')

#keyword 'not' can combine with 'in'

if 'four' not in lst:
  print('Machine learning')

Artificial Intelligence
Machine learning

### List Reverse

In [17]:
# Reveser is reveseres the entire list

lst = ['one', 'two', 'three', 'four', 'five']

lst.reverse()

print(lst)

['five', 'four', 'three', 'two', 'one']

### List sorting

In [18]:
# create a list with number

number = [2, 5, 7, 9, 4, 2, 1, 3]
# Sorting a list in ascending order
sorted_lst = sorted(number)

print("sorted_lst:  ", sorted_lst )

# original list remian unchanged

print("original list: ", number)

sorted_lst:   [1, 2, 2, 3, 4, 5, 7, 9]
original list:  [2, 5, 7, 9, 4, 2, 1, 3]

### Sending and dissending oder

In [22]:
# create a list reveser sorted oder

print("Reversed_sorted_lst :", sorted(number, reverse=True))

# original list remain unchnaged
print("original list :", number)

Reversed_sorted_lst : [9, 7, 5, 4, 3, 2, 2, 1]
original list : [2, 5, 7, 9, 4, 2, 1, 3]