# SET

Set
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

Sets are written with curly brackets.

In [1]:
# Create a set using curly braces

s = {1, 2, 3, 4, 5}
print(s)

# print type of s
print(type(s))

{1, 2, 3, 4, 5}
<class 'set'>

In [2]:
# set dosn't allow duplictes. they story only one instance

s = {1, 2, 3, 4, 5, 3, 1, 2}
print(s)

{1, 2, 3, 4, 5}

In [4]:
# we can make set from of list
s = set([1, 2, 3, 4, 5, 2])
print(s)

{1, 2, 3, 4, 5}

In [6]:
# initialize a set with set() method
s = set()
print(type(s))

<class 'set'>

# Add Element to a Set

In [9]:
# add an element to the set
s.add(5)
print(s)

{2, 5, 6}

In [10]:
# update the set with multiple elements
s.update([6, 7, 8])
print(s)

{2, 5, 6, 7, 8}

In [12]:
s.add(3)
s.add(1)
s.add(9)
print(s)

{1, 2, 3, 5, 6, 7, 8, 9}

In [14]:
# add list and set
s.update([6, 7],{4, 5, 10})
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Remove Element from a set

In [15]:
# A particular item  can  be removed from set using method!
# discard () and remove()

s = {1, 2, 3, 4, 5}
print(s)

s.discard(4)   #4 removed from set s

print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}

In [16]:
# remove an element
s.remove(2)

print(s)

{1, 3, 5}

In [17]:
# discard an element not preasent in the set s
s.discard(6)
print(s)

{1, 3, 5}

In [18]:
# we can use pop() method to remove an arbitrary element from the set

s = {1, 2, 3, 4, 5}
s.pop()
print(s)

{2, 3, 4, 5}

In [19]:
# all the remove element using clear () method

s.clear()
print(s)

set()

# Python set Operations

In [20]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8, 9, 10}

# Union of two sets |operator

print( set1 | set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [21]:
# another way of getting union of two set
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [25]:
# intersection of two sets & operator
print(set1 & set2)

{4, 5}

In [26]:
# use intersection function
print(set1.intersection(set2))

{4, 5}

In [27]:
# set of difference : set of element that are only in set1 but not in set2
print(set1 - set2)

{1, 2, 3}

In [28]:
# use difference method
print(set1.difference(set2))

{1, 2, 3}

In [29]:
# symmetric difference : set of element in both set1 and set2  # expect those that are commen in both sets

# use ^ operator
print(set1 ^ set2)

{1, 2, 3, 6, 7, 8, 9, 10}

In [30]:
# using symmatric difference method

print(set1.symmetric_difference(set2))

{1, 2, 3, 6, 7, 8, 9, 10}

In [31]:
# find is subset()

x = {"a", "b", "b", "d", "c"}
y = {"a", "b", "c"}

# check if y is a subset of x
print ("set 'X' is  subset of 'y' ?", x.issubset(y))

# check if x is a subset of y

print("set 'Y' is subset of 'X' ?", y.issubset(x))

set 'X' is  subset of 'y' ? False
set 'Y' is subset of 'X' ? True

## Frozen Subset

The frozenset() function returns an unchangeable frozenset object (which is like a set object, only unchangeable).

In [32]:
mylist = ['apple', 'banana', 'cherry']
x = frozenset(mylist)
print(x)

frozenset({'cherry', 'banana', 'apple'})