# Tuples

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [1]:
# empty tuple
t = ()

# tuple having integers
t = (1, 2, 3, 4, 5, 6, 7, 8)
print(t)

# tuple mixed datatype
t = (1, 'data', 24.7, 'intelligence', 30, 'islamia university of BWP')
print(t)

# tuple with nested tuples
t = ((1, 2, 3), ['a', 'b', 'c'], (True, False))
print(t)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 'data', 24.7, 'intelligence', 30, 'islamia university of BWP')
((1, 2, 3), ['a', 'b', 'c'], (True, False))

In [2]:
# checking type of tuple
t = ('data')
print(type(t))

<class 'str'>

# Accessing Elements in Tuple

In [3]:
t = ('data', 'university', 'intelligence', 'Ahmar')

print(t[2])

intelligence

In [4]:
# Negative indexing in tuple
t = ('data', 'university', 'intelligence', 'Ahmar')

print(t[-1])

Ahmar

In [6]:
# nested tuple
t = (('data', 'university'), ('intelligence', 'Ahmar'))

print(t[1])

('intelligence', 'Ahmar')

In [7]:
# slicing
t = ('data', 'university', 'intelligence', 'Ahmar')
print(t[1:3])

('university', 'intelligence')

# tuple not change

TypeError: 'tuple' object does not support item assignment

In [23]:
# creating tuple

t = (1, 2, 3, 4, [5, 6, 7, 8, 9, 10])

# t[4] = 'x' # t[0] = 'allah' # will get type error

t[4][1] = 9

t

(1, 2, 3, 4, [5, 9, 7, 8, 9, 10])

In [24]:
# concatinating tuple
t = (1, 2, 3) + (4, 5, 6)
print(t)

(1, 2, 3, 4, 5, 6)

# Tuple count

In [27]:
t = (1, 2, 3, 1, 4 , 5, 3, 2, 3, 1)

# counting occurrences of an element in a tuple
print(t.count(3))

3

In [28]:
# tuple Mumbership

t = (1, 2, 3, 4, 5)
# tuple membership
print(3 in t)

True

# Built in Function

# Tuple Length

In [29]:
t = (1, 2, 3, 4, 5)
# tuple length
print(len(t))

5

# Change Tuple into list

In [41]:
a = []
a = list(t)
# converting tuple to list
a[2] = 10

print(t)
print(a)

t = tuple(a)

t

(1, 2, 10, 4, 5)
[1, 2, 10, 4, 5]

(1, 2, 10, 4, 5)

In [43]:
# loop
for x in t:
  print(x)

1
2
10
4
5

In [44]:
for i in range (len(t)):
  print(t[i])# tuple unpacking

1
2
10
4
5